# Servidor Node.js
NODE_ENV=development
PORT=3000

# Banco de Dados MySQL
DB_HOST=host-mysql
DB_PORT=3306
DB_NAME=projeto_a3_gestao_software
DB_USER=name-user
DB_PASSWORD=password
DB_LOGGING=false

# Google Gemini API
GOOGLE_GENERATIVE_AI_API_KEY=api_key_google_gemini

# GROQ API
GROQ_API_KEY=api_key_groq


# JWT - Autenticação
JWT_SECRET=secret_key
JWT_EXPIRES_IN=12h

# Serviço Python (Visagismo)
PYTHON_SERVICE_URL=http://localhost:5000
PYTHON_SERVICE_PORT=5000

# Configurações de Upload
MAX_FILE_SIZE=5242880
UPLOAD_DIR=./uploads
